--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.6.0+cu124
tqdm==4.67.1
transformers==4.51.1
datasets==3.5.0
faiss-cpu==1.10.0
langchain==0.3.23
langchain-community==0.3.21
langchain_huggingface==0.1.2
smolagents==1.13.0
smolagents[litellm]

